In [42]:
import pandas as pd 
from warnings import filterwarnings
filterwarnings('ignore')

In [43]:
A=pd.read_csv("C:/Users/desai/OneDrive/Desktop/git_hub_projects/loan_project_final/training_set.csv")

In [44]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             599 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          613 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    612 non-null    float64
 7   CoapplicantIncome  613 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(5), object(8)
memory usage: 62.5+ KB

In [45]:
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

In [46]:
#cat and cont columns list
cat=[]
con=[]
for i in A.columns:
    if A[i].dtypes=='object':
        cat.append(i)
    else:
        con.append(i)

In [47]:
print(cat)
print(con)

['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']
['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

In [48]:
#Checking Missing Data

In [49]:
A.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [50]:
#missing Data Treatment

In [51]:
for i in A.columns:
    if A[i].dtypes=='object':
        x=A[i].mode()[0]
        A[i]=A[i].fillna(x)
    else:
        x=A[i].mean()
        A[i]=A[i].fillna(x)

In [52]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [19]:
 # outlier

In [21]:
from sklearn.preprocessing import StandardScaler

In [23]:
ss=StandardScaler()
Q=pd.DataFrame(ss.fit_transform(A[con]),columns=con)

In [27]:
# now checking outliers in each columns
outliers=[]
for i in con:
    outliers=outliers+list(Q[(Q[i]>3)| (Q[i]<-3)].index)

In [31]:
#chekcing unique Entries
len(outliers)

41

In [33]:
from numpy import unique
unqiue_outliers_index=unique(outliers)
len(unqiue_outliers_index)

37

In [34]:
#dropping Outliers index

In [35]:
A=A.drop(index=unqiue_outliers_index,axis=0)

In [36]:
A.info()

<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            577 non-null    object
 1   Gender             577 non-null    object
 2   Married            577 non-null    object
 3   Dependents         577 non-null    object
 4   Education          577 non-null    object
 5   Self_Employed      577 non-null    object
 6   ApplicantIncome    577 non-null    float64
 7   CoapplicantIncome  577 non-null    float64
 8   LoanAmount         577 non-null    float64
 9   Loan_Amount_Term   577 non-null    float64
 10  Credit_History     577 non-null    float64
 11  Property_Area      577 non-null    object
 12  Loan_Status        577 non-null    object
dtypes: float64(5), object(8)
memory usage: 63.1+ KB

In [37]:
#renaming the indices

In [39]:
A.shape

(577, 13)

In [40]:
A.index=range(A.shape[0])

In [41]:
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.00000,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,5405.54085,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.00000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.00000,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.00000,0.0,141.000000,360.0,1.0,Urban,Y

In [53]:
# EDA

In [54]:
#categorial vs Categoriacal relation

In [61]:
def chisq(df,cat1,cat2):
    import pandas as pd
    from scipy.stats import chi2_contingency
    ct=pd.crosstab(df[cat1],df[cat2])
    chi2, pvalue, dof, ex =chi2_contingency(ct)
    # print(f'Chi2 Statistic: {chi2}')
    # print(f'P-Value: {pvalue}')
    # print(f'Degrees of Freedom: {dof}')
    # print(f'Expected Frequencies: \n{ex}')
    return round(pvalue,2)

In [65]:
alpha = 0.05
accept_categorical=[]
reject_categorical=[]
for i in cat:
    pvalue=chisq(A,'Loan_Status',i)
    # Interpret p-value

    if pvalue < alpha and i!='Loan_Status':
        # print('Reject null hypothesis - Significant association')
        print('accept',i)
        accept_categorical.append(i)
    else:
        # print('Fail to reject null hypothesis - No significant association',i)
        print('reject',i)
        reject_categorical.append(i)

reject Loan_ID
reject Gender
accept Married
reject Dependents
accept Education
reject Self_Employed
accept Property_Area
reject Loan_Status

In [66]:
#categorical vs Continuous variable relationship

In [79]:
def ANOVA(df:pd.DataFrame, cat: str, con: str) -> float:
    """
    Performing 'Analysis of Variance' on the input DataFrame.

    Parameters:
    df (pandas.DataFrame): The input data frame containing the data.
    cat (str): The categorical column variable name.
    con (str): The continuous column variable name.

    Returns:
    float: The p-value from the ANOVA results, rounded to 5 decimal places.
    """
    from statsmodels.formula.api import ols
    from statsmodels.stats.anova import anova_lm
    
    # Create eqn. for the OLS regression model 
    eqn = f"{con} ~ {cat}"
    
    # Fit the model using the input data frame and equation
    model = ols(eqn, df).fit()
    
    # Perform ANOVA on the fitted model
    anova_results = anova_lm(model)
    
    # Extract and return the p-value from the ANOVA results
    p_value = round(anova_results.iloc[0, 4], 5)
    return p_value

In [80]:
critical_p_value=0.05
continuous_accepted=[]
con_rejected=[]

# Significant Result (Rejecting Null Hypothesis):

# F-Statistic: High value.
# P-Value: Low (≤ 0.05).
# Interpretation: There is strong evidence to suggest that at least one group mean is significantly different from the others.
# Non-Significant Result (Failing to Reject Null Hypothesis):
for i in con:
    score=ANOVA(A,"Loan_Status",i)
    if score<critical_p_value<0.05:
        print(score,i) 
        continuous_accepted.append(i)
    else:
        con_rejected.append(i)

print(continuous_accepted)
print(con_rejected)

[]
['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

In [ ]:
def ANOVA(df,cat,con):
    from statsmodels.formula.api import ols
    eqn = str(con) + " ~ " + str(cat)
    model = ols(eqn,df).fit()
    from statsmodels.stats.anova import anova_lm
    Q = anova_lm(model)
    return round(Q.iloc[0:1,4:5].values[0][0],5)

In [ ]:
def anova (df),cat,con:
from statsmodel.formula.api import ols
from statsmode.stats.anova import anova_lm