In [377]:
# Importing libraries
import pandas as pd
from warnings import filterwarnings
# Ignoreing warnings for cleaner output display
filterwarnings('ignore')

In [378]:
# Loading the training CSV file into a DataFrame
training_file_path = "C:/Users/desai/OneDrive/Desktop/git_hub_projects/loan_project_final/training_set.csv"
trn_df = pd.read_csv(training_file_path)
# Displaying few 5 rows of the DataFrame
trn_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

In [379]:
# Displaying basic information of DataFrame
trn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             599 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          613 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    612 non-null    float64
 7   CoapplicantIncome  613 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(5), object(8)
memory usage: 62.5+ KB

In [380]:
# Check for unqiue value count in the DataFrame
trn_df.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      504
CoapplicantIncome    286
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

In [381]:
# Check for missing values in the DataFrame
trn_df.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [382]:
## Handling missing data by filling in missing values or dropping rows/columns
# For numerical columns, we can fill missing values with the median
# For categorical columns, we can fill missing values with the mode

for i in trn_df.columns:
    if trn_df[i].dtypes=='object':#categorical columns
        x=trn_df[i].mode()[0]
        trn_df[i]=trn_df[i].fillna(x)
    else: #continuous column
        x=trn_df[i].mean()
        trn_df[i]=trn_df[i].fillna(x)


# # Verifying no missing values left
trn_df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [383]:
trn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    float64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(5), object(8)
memory usage: 62.5+ KB

In [384]:
#separating the categorical and continuous column list
#cat and cont columns list
cat=[]
con=[]
for i in trn_df.columns:
    if trn_df[i].dtypes=='object':
        cat.append(i)
    else:
        con.append(i)
#checking columns lsit
print(cat)
print(con)

['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']
['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

In [385]:
# Treating outliers continuos column using the StandardScaler
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
Q=pd.DataFrame(ss.fit_transform(trn_df[con]),columns=con)

outlier_index=[]

for i in con:
    outlier_index=outlier_index+list((Q[  (Q[i] <-3) | (Q[i]>3)]).index)

In [386]:
#unique index list
from numpy import unique
unique_outlier_index=list(unique(outlier_index))
print(len(unique_outlier_index))
print(unique_outlier_index)

37
[9, 14, 68, 94, 126, 130, 133, 155, 171, 177, 183, 185, 242, 262, 278, 308, 313, 333, 369, 402, 409, 417, 432, 443, 487, 495, 497, 506, 523, 525, 546, 561, 575, 581, 585, 600, 604]

In [387]:
# removing the outliers
trn_df=trn_df.drop(index=unique_outlier_index,axis=0)


trn_df.index = range(trn_df.shape[0])

In [388]:
def ANOVA(df:pd.DataFrame, cat: str, con: str) -> float:
    """
    Performing 'Analysis of Variance' on the input DataFrame.

    Parameters:
    df (pandas.DataFrame): The input data frame containing the data.
    cat (str): The categorical column variable name.
    con (str): The continuous column variable name.

    Returns:
    float: The p-value from the ANOVA results, rounded to 5 decimal places.
    """
    from statsmodels.formula.api import ols
    from statsmodels.stats.anova import anova_lm
    
    # Create eqn. for the OLS regression model 
    eqn = f"{con} ~ {cat}"
    
    # Fit the model using the input data frame and equation
    model = ols(eqn, df).fit()
    
    # Perform ANOVA on the fitted model
    anova_results = anova_lm(model)
    
    # Extract and return the p-value from the ANOVA results
    p_value = round(anova_results.iloc[0, 4], 5)
    return p_value

In [389]:
critical_p_value=0.5
con_col_accepted=[]

# Significant Result (Rejecting Null Hypothesis):

# F-Statistic: High value.
# P-Value: Low (≤ 0.05).
# Interpretation: There is strong evidence to suggest that at least one group mean is significantly different from the others.
# Non-Significant Result (Failing to Reject Null Hypothesis):
for i in con:
    score=ANOVA(trn_df,"Loan_Status",i)
    if score<=critical_p_value:
        print(i,score)
        con_col_accepted.append(i)
    else:
        print(i,score)

print(con_col_accepted)

ApplicantIncome 0.89434
CoapplicantIncome 0.28206
LoanAmount 0.3975
Loan_Amount_Term 0.66362
Credit_History 0.0
['CoapplicantIncome', 'LoanAmount', 'Credit_History']

In [390]:
def chisq(df:pd.DataFrame, cat1:str, cat2:str)-> float:
    """
    Perform a chi-squared test of corelation between two categorical variables in a input DataFrame.

    Parameters:
    df (pandas.DataFrame): The DataFrame containing the data.
    cat1 (str): The name of the first categorical column.
    cat2 (str): The name of the second categorical column.

    Returns:
    float: The p-value of the chi-squared test, rounded to 5 decimal places.
    """
    import pandas as pd
    from scipy.stats import chi2_contingency
    
    # Create a contingency table
    contingency_table = pd.crosstab(df[cat1], df[cat2])
    
    # Perform the chi-squared test
    chi2, p_value, dof, expected = chi2_contingency(contingency_table)
    
    # Return the p-value rounded to 5 decimal places
    return round(p_value, 5)

In [391]:
critical_p_value=0.05
cat_col_accepted=[]

# Significant Result (Rejecting Null Hypothesis):

# F-Statistic: High value.
# P-Value: Low (≤ 0.05).
# Interpretation: There is strong evidence to suggest that at least one group mean is significantly different from the others.
# Non-Significant Result (Failing to Reject Null Hypothesis):
for i in cat:
    score=chisq(trn_df,"Loan_Status",i)
    if score<critical_p_value<=0.05 and i!='Loan_Status':
        cat_col_accepted.append(i)
# cat_col_accepted.remove('Loan_ID')
# cat_col_accepted.remove('Loan_Status')
print(cat_col_accepted)

['Married', 'Education', 'Property_Area']

In [392]:

# Extract the relevant columns for features (X) and target variable (Y) from the DataFrame 'trd'
# X = trd[con_col_accepted+cat_col_accepted]
Y = trn_df[["Loan_Status"]]
#1. continuous column treatment
# Scaling the data using StandardScaler
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X1=pd.DataFrame(ss.fit_transform(trn_df[con_col_accepted]),columns=con_col_accepted)
#2. categorical column treatment
# Converting categorical columns into dummy variables
X2=pd.get_dummies(trn_df[cat_col_accepted])
# X2 = pd.get_dummies(X[["Married", "Education", "Property_Area", "Credit_History"]])

# Combine the scaled continuous column with the dummy variables
Xnew = X1.join(X2)
from sklearn.model_selection import train_test_split
# Split the data into training (80%) and testing (20%) sets, with a random seed for reproducibility
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

In [393]:
print(type(xtrain), type(ytrain), type(xtest), type(ytest))
print(type(Y))
Y.head()

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

  Loan_Status
0           Y
1           N
2           Y
3           Y
4           Y

In [394]:
# def evaluate_model(model_name:str,model:pd.DataFrame, xtrain:pd.Series, ytrain:pd.Series, xtest:pd.Series, ytest:pd.Series)->None:
def evaluate_model(model_name,model, xtrain, ytrain, xtest, ytest):
    """
    Train the given model on the training data and evaluate its accuracy on both training and testing data.

    Parameters:
    model_name (sklearn estimator): The machine learning model to be trained and evaluated.
    xtrain (pd.DataFrame or np.ndarray): Training data predicted variable.
    ytrain (pd.Series or np.ndarray): Training data target variable.
    xtest (pd.DataFrame or np.ndarray): Testing data predicted variable.
    ytest (pd.Series or np.ndarray): Testing data target variable.

    Returns:
    None
    """
    # from sklearn.linear_model import LogisticRegression
    # lr=LogisticRegression()
    # # Ensure ytrain and ytest are Series objects
    # if isinstance(ytrain, pd.DataFrame):
    #     ytrain = ytrain.squeeze()  # Convert DataFrame to Series
    # if isinstance(ytest, pd.DataFrame):
    #     ytest = ytest.squeeze()  # Convert DataFrame to Series

    # # Ensure ytrain and ytest are Series objects
    # if isinstance(ytrain, pd.DataFrame):
    #     ytrain = ytrain.iloc[:, 0]  # Convert DataFrame to Series
    # if isinstance(ytest, pd.DataFrame):
    #     ytest = ytest.iloc[:, 0]  # Convert DataFrame to Series
    
    # Train the model on the training data
    model.fit(xtrain, ytrain)
    
    # Predicting the training data labels
    training_pred = model.predict(xtrain)
    
    # Predicting the testing data labels
    test_pred = model.predict(xtest)
    
    # Import accuracy_score from sklearn to evaluate the model
    from sklearn.metrics import accuracy_score
    
    # Calculate the accuracy on the training data
    train_accuracy = accuracy_score(training_pred, ytrain)
    
    # Calculate the accuracy on the testing data
    test_accuracy = accuracy_score(test_pred, ytest)
    
    # Print the training and testing accuracies
    print("-"*20)
    print(f"{model_name}: Training Accuracy: {round(train_accuracy,5)}")
    print(f"{model_name}: Testing Accuracy: {round(test_accuracy,5)}")

In [395]:
#logistcRegression
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
#DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(random_state=11)
#
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=20)
from sklearn.ensemble import AdaBoostClassifier
abc=AdaBoostClassifier(DecisionTreeClassifier(max_depth=2),n_estimators=40)

from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
model_dict={'LogisticRegression':lr,
            "DecisionTreeClassifier":dtc,
            "RandomForestClassifier":rfc,
            "AdaBoostClassifier":abc,
            "KNeighborsClassifier":knn
    
}
for model_name in model_dict:
    
    evaluate_model(model_name,model_dict[model_name],xtrain, ytrain, xtest, ytest)

--------------------
LogisticRegression: Training Accuracy: 0.80911
LogisticRegression: Testing Accuracy: 0.83621
--------------------
DecisionTreeClassifier: Training Accuracy: 0.98482
DecisionTreeClassifier: Testing Accuracy: 0.69828
--------------------
RandomForestClassifier: Training Accuracy: 0.97831
RandomForestClassifier: Testing Accuracy: 0.72414
--------------------
AdaBoostClassifier: Training Accuracy: 0.91323
AdaBoostClassifier: Testing Accuracy: 0.75862
--------------------
KNeighborsClassifier: Training Accuracy: 0.83731
KNeighborsClassifier: Testing Accuracy: 0.78448

In [396]:
#Performing the

In [397]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

# Define the parameter grid for KNeighborsClassifier
param_grid = {
    'n_neighbors': range(1, 20),  # Typically you might test neighbors from 1 to 30
    # 'weights': ['uniform', 'distance'],  # Use uniform or distance weights
    # 'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']  # Different algorithms for KNN
}

# Create an instance of KNeighborsClassifier
knn = KNeighborsClassifier()

# Create the GridSearchCV object
cv = GridSearchCV(knn, param_grid, scoring='accuracy', cv=4)  # You can change the scoring parameter based on your metric

# Fit the GridSearchCV object to the data
# cv_model = cv.fit(Xnew, Y.values.ravel())  # Use .values.ravel() to convert Y to a 1D array if needed
cv_model = cv.fit(Xnew, Y)  # Use .values.ravel() to convert Y to a 1D array if needed

# Print the best parameters found by GridSearchCV
print(cv_model.best_params_)

{'n_neighbors': 17}

In [398]:
knn = KNeighborsClassifier(n_neighbors=17,weights= 'uniform',algorithm= 'auto')
evaluate_model('KNeighborsClassifier',knn,xtrain, ytrain, xtest, ytest)

--------------------
KNeighborsClassifier: Training Accuracy: 0.81128
KNeighborsClassifier: Testing Accuracy: 0.83621

In [399]:
# now Training Model With the entire data
knnc = KNeighborsClassifier(n_neighbors=17,weights= 'uniform',algorithm= 'auto')
model=knnc.fit(Xnew,Y)

In [400]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

# Define the parameter grid for KNeighborsClassifier
param_grid = {
    'penalty': ['l1', 'l2'],
    'C': [0.01, 0.1, 1, 10, 100],
    'solver': ['liblinear', 'saga'],  # 'l1' and 'l2' both work with these solvers
    'max_iter': [100, 200, 300],
    'tol': [1e-4, 1e-3],
    'class_weight': [None, 'balanced']
}

# Create an instance of KNeighborsClassifier
lr = LogisticRegression()

# Create the GridSearchCV object
cv = GridSearchCV(lr, param_grid, scoring='accuracy', cv=4)  # You can change the scoring parameter based on your metric

# Fit the GridSearchCV object to the data
# cv_model = cv.fit(Xnew, Y.values.ravel())  # Use .values.ravel() to convert Y to a 1D array if needed
cv_model = cv.fit(Xnew, Y)  # Use .values.ravel() to convert Y to a 1D array if needed

# Print the best parameters found by GridSearchCV
print(cv_model.best_params_)

{'C': 0.01, 'class_weight': None, 'max_iter': 100, 'penalty': 'l1', 'solver': 'liblinear', 'tol': 0.0001}

In [411]:
lr = LogisticRegression(C= 0.01, class_weight= None, max_iter= 100, penalty= 'l1', solver='liblinear', tol= 0.0001)

evaluate_model('LogisticRegression',lr,xtrain, ytrain, xtest, ytest)
model=LogisticRegression().fit(Xnew,Y)

--------------------
LogisticRegression: Training Accuracy: 0.81128
LogisticRegression: Testing Accuracy: 0.84483

In [412]:
# Preparing the DataSet for Testing 

testing_Dataset="C:/Users/desai/OneDrive/Desktop/git_hub_projects/assign_ment/loan_assignment/testing_set.csv"
test_df=pd.read_csv(testing_Dataset)
test_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [413]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [414]:
#treating the missing Data and the scaling teh continuous data

for i in test_df.columns:
    if test_df[i].dtypes=='object':
        x=test_df[i].mode()[0]
        test_df[i]=test_df[i].fillna(x)
    else:
        x=test_df[i].mean()
        test_df[i]=test_df[i].fillna(x)

In [415]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
X1_testdf=pd.DataFrame(test_df[con_col_accepted],columns=con_col_accepted)
X2_testdf=pd.get_dummies(test_df[cat_col_accepted])



Xnew_testdf=X1_testdf.join(X2_testdf)

for i in Xnew_testdf.columns:
    if Xnew[i].dtypes=='object':
        if i not in X2_testdf.columns:
            Xnew_testdf[i]=0
Xnew_testdf.head()

,CoapplicantIncome,LoanAmount,Credit_History,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,110.0,1.000000,False,True,True,False,False,False,True
1,1500,126.0,1.000000,False,True,True,False,False,False,True
2,1800,208.0,1.000000,False,True,True,False,False,False,True
3,2546,100.0,0.825444,False,True,True,False,False,False,True
4,0,78.0,1.000000,True,False,False,True,False,False,True

In [416]:
approval_result=pd.DataFrame(model.predict(Xnew_testdf),columns=['Loan_Status'])
approval_result['Loan_ID']=test_df['Loan_ID']

In [417]:
approval_result.head()

  Loan_Status   Loan_ID
0           N  LP001015
1           Y  LP001022
2           Y  LP001031
3           Y  LP001035
4           N  LP001051

In [418]:
approval_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Loan_Status  367 non-null    object
 1   Loan_ID      367 non-null    object
dtypes: object(2)
memory usage: 5.9+ KB

In [419]:
approval_result.to_csv("C:/Users/desai/OneDrive/Desktop/git_hub_projects/loan_project_final/approval_status.csv")

In [420]:
approval_result['Loan_Status'].value_counts()

Loan_Status
Y    211
N    156
Name: count, dtype: int64